# Ignore virtual environment
venv/
env/

# Ignore IDE files
.idea/
.vscode/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore training outputs
yolov5/runs/
yolov5/data/

# Ignore pre-trained weights
yolov5/weights/

# Ignore dataset files (if large)
dataset/images/
dataset/labels/
dataset/labels_corrected/

# Ignore Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Ignore model weights
*.pt

# Ignore archive
archive